.catalog-container {
  padding: 12px 15px;
}

.catalog-container h1 {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 24px;
}

.list-container li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.list-container ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .catalog-container {
    padding: 40px;
  }

  .catalog-container h1 {
    font-size: 36px;
  }

  .list-container li {
    font-size: 20px;
    margin-bottom: 27px;
  }
}

@media (min-width: 1200px) {
  .catalog-container {
    max-width: 1120px;
  }

  .catalog-container h1 {
    font-size: 48px;
  }

  .list-container li {
    font-size: 24px;
  }
}
