.login-container {
  padding: 17px 10px;
}

.login-card {
  background-color: #6c6c6c;
  padding: 59px 17px 17px 17px;
  text-align: center;
  border-radius: 4px;
}

.login-card h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 45px;
}

.login-input {
  margin-bottom: 20px;
  height: 47px;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 400;
}

.login-button {
  margin-bottom: 100px;
  margin-top: 34px;
  width: 100%;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.img-card {
  max-width: 380px;
  display: none;
}

.img-card h1 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 25px;
  padding: 0px 30px;
}

.img-card h3 {
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 50px;
  padding: 0px 30px;
}

.image-container {
  width: 100%;
}

@media (min-width: 576px) {
  .login-container {
    text-align: center;
    padding: 40px calc((100% - 479px) / 2) 0px calc((100% - 479px) / 2);
  }

  .login-card {
    padding: 59px 45px 17px 45px;
    max-width: 479px;
  }

  .login-card h1 {
    font-size: 48px;
  }
  .login-button {
    margin-bottom: 130px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .login-container {
    padding: unset;
    max-width: 1000px;
    display: flex;
    justify-content: space-between !important;
    flex-direction: row-reverse;
    align-items: center;
    margin: 38px 100px 0px 100px;
  }

  .login-card {
    min-width: 480px;
  }

  .img-card {
    display: unset;
  }
}

@media (min-width: 1400px) {
  .login-container {
    max-width: 1250px;
  }
}
