.movie-details-container {
  padding: 17px 10px;
}

.movie-details-container h1 {
  font-size: 24px;
  color: #ffffff;
  max-width: 265px;
  margin-bottom: 18px;
}

@media (min-width: 576px) {
  .movie-details-container h1 {
    max-width: none;
    padding-bottom: 25px;
    margin: 0px;
  }
}

@media (min-width: 768px) {
  .movie-details-container {
    padding: 36px 40px;
  }
}

@media (min-width: 1400px) {
  .movie-details-container {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
  }
}
