.movie-filter-container {
  padding: 5px 20px;
  margin-bottom: 20px;
  background-color: #6c6c6c;
  border-radius: 4px;
  height: 100%;
}

.movie-filter-select__input-container {
  height: 45px;
  color: #ffffff !important;
}

.movie-filter-select__single-value {
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-filter-genre-container {
  border: 1px solid #ffffff !important;
  border-radius: 4px !important;
  box-shadow: none;
  max-width: 260px;
}

.movie-filter-select__control--is-focused {
  box-shadow: none !important;
}

.movie-filter-select__indicator-separator {
  display: none;
}

.movie-filter-select__value-container {
  background-color: #6c6c6c;
}

.movie-filter-select__control {
  background-color: #6c6c6c;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.015em;
}

.movie-filter-select__indicators {
  background-color: #6c6c6c;
  color: #ffffff;
}

.movie-filter-select__placeholder {
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .movie-filter-container {
    margin-bottom: 40px;
  }
}
